@model Pizza;
@{
    var pizza = Model;
}

<tr>
    <td>@pizza.Id</td>
    <td>
        <a href="@Url.Action("Detail", "Pizza", new{Id = pizza.Id})">@pizza.Nome</a>
    </td>
    <td>@pizza.Descrizione</td>
    <td><img src="@pizza.Foto" /></td>
    <td>@pizza.Prezzo</td>
    <td>
        <button class="btn-edit"><a href="@Url.Action("Update", "Pizza", new { Id = pizza.Id })">Edit</a></button>
        <button class="btn-delete"><a href="@Url.Action("Delete", "Pizza", new { Id = pizza.Id })">Delete</a></button>
    </td>
</tr>